.my-custom-menu {
    --width: 500px;
  }
.grafico{
  width: 120px;
  height: 80px;
  position: relative;
}
.imagenheader{
  width: 90px;
  height: 60px;
  display: block;
  margin: auto;
}
app-page-home {
  ion-content ion-scroll {
      background-image: url('/assets/pizza.jpg');
  }
}