<ion-header class="menu">
  <ion-toolbar color="warning">
      <ion-img src="/assets/35.jpg" class="imagenheader">
    <ion-title>Menu</ion-title>
    
  </ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!--  -->
    <ion-card-header>
      <ion-card-subtitle>Opcion 1:</ion-card-subtitle>
      <ion-card-title>Graficos</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/grafico.png" class="grafico"></ion-img>
    <ion-card-content>
      <ion-button expand="block" routerLink="/mesas" color="primary">Ver mas</ion-button>
    </ion-card-content>
  </ion-card>
  <!--  -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Opcion 2:</ion-card-subtitle>
      <ion-card-title>Reportes</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/reporte.png" class="grafico"></ion-img>
    <ion-card-content>
      <ion-button expand="block" routerLink="/reporte" color="primary">Ver mas</ion-button>
    </ion-card-content>
  </ion-card>
  <!--  -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Opcion 3:</ion-card-subtitle>
      <ion-card-title>Mesas</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/mesa.png" class="grafico"></ion-img>
    <ion-card-content>
      <ion-button expand="block" routerLink="/ayuda" color="primary">Ver mas</ion-button>
    </ion-card-content>
  </ion-card>
  <!--  -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Opcion 4:</ion-card-subtitle>
      <ion-card-title>Ayuda</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/ayuda.png" class="grafico"></ion-img>
    <ion-card-content>
      <ion-button expand="block" routerLink="/ayuda" color="primary">Ver mas</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- aqui van los tabs -->
</ion-content>
<!--  -->
<ion-footer>
    <ion-toolbar>
      <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" routerLink="/informe" routerLinkActive="router-link-active" >
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Informes</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers" routerLink="/perfil" routerLinkActive="router-link-active"> 
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuración" routerLink="/mas" routerLinkActive="router-link-active">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Mas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
    </ion-toolbar>
  </ion-footer>



